/* Sections */
#about {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #565656; /*original #373737*/
    background-image: url('/img/bmbackground2.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover" data-stellar-background-ratio="0.5"
}
#skills {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #FF3B3F;
}
#education {
    padding-top: 55px;
    padding-bottom: 40px;
    background-color:#F3F3F3;
}
#contact {
    padding-top: 55px;
    padding-bottom: 0px;
    background-color: #FF3B3F;
}
#experience {
    padding-top: 55px;
    padding-bottom: 0px;
    background-color: #f3f3f3;
}
#side_hustle {
    padding-top: 60px;
    padding-bottom: 0px;
    background-color: #FFF;
}

/* Floating labels for contact form */
input[type="text"], 
input[type="email"], 
textarea, 
input::placeholder, 
textarea::placeholder {
  color: white;
}
input[type="text"], input[type="email"]{
  font-size: 16px !important;
  height: 56px;
  border: 1px solid white !important;
  border-radius: 7px !important;
  background: #FF3B3F;
  min-width: 280px;
  box-sizing: border-box;
  transition: all .3s linear;
  font-weight: 400;
}
textarea {
  font-size: 16px !important;
  border: 1px solid white !important;
  border-radius: 7px !important;
  background: #FF3B3F;
  transition: all .3s linear;
}
input:focus::placeholder, 
textarea:focus::placeholder { 
  color: #565656;
}
input[type="text"]:focus, 
input[type="email"]:focus,
textarea:focus {
  color: #FF3B3F;
}
label {
  font-size: 12.5px;
  font-weight: 400px;
  color: #000;
  opacity: .8;
  padding-left: 5px;
} 
.floating-label {
  position: relative;
  margin-bottom: 10px;
}
.floating-label label{
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.floating-label input:not(:placeholder-shown) + label {
  transform: translateY(-20px);
  padding-left: 5px;
  opacity: 0.7;
}
input[type="submit"] {
  font-size: 16px;
  background: white;
  color: #171717;
}
input[type="submit"]:hover {
  background: #171717;
  color: white;
  transition: all 0.3s ease;
}

/*Progress Bar*/
.progress_bars .bars_list li .bar .progress {
	background-image: none !important;
}

/* Skill progress bar */
.progress_bars .bars_list li .bar {
  background: rgba(0,0,0,.23);
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.04);
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.04);
}

.progress_bars .bars_list li h6, .progress_bars .bars_list li h6 .label {
  color: white;
}

.progress_bars .bars_list li .bar .progress {
  background-color: #FFF;
}

.feature_list ul li .icon i, .feature_list ul li p {
  color: white;
}
.feature_list ul li:hover {
  background: rgba(0,0,0,.23);
  webkit box shadow: inset 0 0 2px 2px rgba(0,0,0,0.04);
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.04);
}

/* Portfolio section*/

#thumbnail {
  width: 640px;
  height: 500px;
}

/* Timeline & Post timeline */

.timeline_items li h3:before, .timeline_items:after, .timeline .post-item:before {
  border-color: #FF3B3F;
  background-color: #FFF;
}
.timeline_items li h3 span {
  background-color: #FF3B3F;
  color: #FFF;
  border-radius: 0px;
  font-weight: bold;
}
.timeline_items li .desc {
  background-image: none;
}

/*Timeline fix*/
.timeline_items li .desc:before {
    background-image: url('../css/images/stripes_3_b.png');
}

.hr_color {
    background-color: #FF3B3F;
}

.title {
    color:#e9e9e9;
}
.title_dark {
    color: #2e2e2e;
}
.name {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 3px;
}
.intro_jobtitle {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #EDEDED;
}
.jobtitles {
    background-color: #2e2e2e;
    color: #F2F2F2;
    display: inline-block;
    margin: 0px auto;
    padding: 15px;
}

/* Social */
a.icon_bar_fcc span.b{background:darkgreen;color:#fff}
a.icon_bar_github span.b{background:#24292e;color:#fff}

/* Footer Section */
#Footer {
    background-color: #2e2e2e;
}
